**/.idea
**/Cargo.lock
**/filetest/
**/log
**/target/
debian/prometheus
debian/prometheus.substvars
debian/prometheus.*.debhelper
debian/prometheus.debhelper.log
debian/files
debian/.debhelper
prometheusd/src/names/adjectives.rs
prometheusd/src/names/nouns.rs